.restaurant img {
  height: 300px;
  width: 570px;
  /* margin-bottom: 50px; */
}

.about-restaurant {
  align-items: center;
  text-align: center;
  margin: 200px auto 200px auto;
  /* font-family: "EB Garamond", serif; */
  /* font-family: "Merriweather Sans", sans-serif; */
  font-family: "Quintessential", cursive;
  color: rgb(46, 18, 18);
}
